<!-- gallery.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wedding Event Planner</title>
    <link rel="stylesheet" href="/css/Style.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Playfair+Display:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <%- include('partials/header') %>
  <body>
    <section class="gallery">
      <div class="gallery">
        <% galleries.forEach(item => { %>
        <div class="gallery-item">
          <img src="<%= item.Gallery_image %>" alt="<%= item.Gallery_name %>" />
          <div class="caption"><%= item.Gallery_caption %></div>
        </div>
        <% }); %>
      </div>
    </section>

    <%- include('partials/footer') %>
    <!-- Include your footer file here -->
  </body>
</html>
